/HookStartActivityDemo/bin
/HookStartActivityDemo/gen
/HookBinderDemo/bin
/HookBinderDemo/gen
/HookAMSDemo/bin
/HookAMSDemo/gen
/HookPMSDemo/bin
/HookPMSDemo/gen
/SubstitutedActivity/bin
/SubstitutedActivity/gen
/HookClassLoader/bin
/HookClassLoader/gen
